<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c)  2018. houbinbin Inc.
  ~ retry All rights reserved.
  -->

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:user.name}/logs/log4j2/retry</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level [%t] %logger{36}:%L - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
